@import "tailwindcss";
*::selection {
  background: transparent;
}
:has(*)::selection {
  background: transparent;
}

*:has(h1, h2, h3, h4, h5, h6, p, i, header)::selection {
  background: cyan;
  color: whirgb(0, 0, 0);
}
